<div class="sidebar__header">
    <i class="fas fa-stream bx-menu"></i>
    <img class="logo" src="images\site\peace_logo_transparent.png" alt="profileImg" width="50px">
    <span class="logo_name">Peace</span>
</div>
<ul class="nav-links">
    <li>
        <a href="#">
            <i class="fas fa-th-large"></i>
            <span class="link_name">Thống kê</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Thống kê</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-bell"></i>
            <span class="link_name">Thông báo</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Thông báo</a></li>
        </ul>
    </li>
    <li>
        <div class="icon-link">
            <a href="#">
                <i class="fas fa-search"></i>
                <span class="link_name">Tra cứu</span>
            </a>
            <i class="fas fa-angle-down arrow"></i>
        </div>
        <ul class="sub-menu">
            <li><a class="link_name" href="#">Tra cứu</a></li>
            <li><a href="#">Thông tin dịch bệnh</a></li>
            <li><a href="#">Thông tin bệnh nhân</a></li>
        </ul>
    </li>
    <li>
        <div class="icon-link">
            <a href="#">
                <i class="fas fa-signature"></i>
                <span class="link_name">Xét duyệt</span>
            </a>
            <i class="fas fa-angle-down arrow"></i>
        </div>
        <ul class="sub-menu">
            <li><a class="link_name" href="#">Xét duyệt</a></li>
            <li><a href="#">Cấp phép lưu hành</a></li>
            <li><a href="#">Đăng ký xét nghiệm</a></li>
            <li><a href="#">Đăng kí tiêm phòng</a></li>
            <li><a href="#">Đăng kí cách ly</a></li>
        </ul>
    </li>

    <li>
        <div class="icon-link">
            <a href="#">
                <i class="fas fa-notes-medical"></i>
                <span class="link_name">Khai báo</span>
            </a>
            <i class="fas fa-angle-down arrow"></i>
        </div>
        <ul class="sub-menu">
            <li><a class="link_name" href="#">Khai báo</a></li>
            <li><a href="#">Di chuyển nội địa</a></li>
            <li><a href="#">Người nhập cảnh</a></li>
            <li><a href="#">Toàn dân</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-people-arrows"></i>
            <span class="link_name">Cách ly</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Cách ly</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-syringe"></i>
            <span class="link_name">Tiêm phòng</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Tiêm phòng</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="fas fa-vial"></i>
            <span class="link_name">Xét nghiệm</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Xét nghiệm</a></li>
        </ul>
    </li>
    <li>
        <div class="icon-link">
            <a href="#">
                <i class="fas fa-headset"></i>
                <span class="link_name">Hỗ trợ</span>
            </a>
            <i class="fas fa-angle-down arrow"></i>
        </div>
        <ul class="sub-menu">
            <li><a class="link_name" href="#">Hỗ trợ</a></li>
            <li><a href="#">Nhu yếu phẩm</a></li>
            <li><a href="#">Hướng dẫn</a></li>
        </ul>
    </li>
    <li>
        <div class="nav-links__setting">
            <a href="#">
                <i class="fas fa-cog"></i>
                <span class="link_name">Cài đặt</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Cài đặt</a></li>
            </ul>
        </div>
    </li>
</ul>