<div class="container">
    <div class="row">
        <div class="col-sm-3">/ Mắc /</div>
        <div class="col-sm-3">/ Đã điều trị /</div>
        <div class="col-sm-3">/ Chế* /</div>
        <div class="col-sm-3">/ Biểu đồ tròn /</div>
    </div>
    <div class="row">
        <div class="col-sm-7">/ Biểu đồ dường mắc/điều trị/chế* theo ngày /</div>
        <div class="col-sm-5">/ như trên nhưng là table ngày/mắc/điều trị/chế* /</div>
    </div>
</div>